In [10]:
import pandas as pd

# Step 1: Extract Data
csv_url = 'https://drive.google.com/uc?export=download&id=1asq7yzvFpkmDUMZQtK7AJ16_XZbQCZmc'
borrowers_df = pd.read_csv(csv_url)

print("Data extracted successfully!")
print(borrowers_df.head())

Data extracted successfully!
               Name Date of Birth  Gender Marital Status  Phone Number  \
0      Khushi Balan    19-02-1986    Male         Single    2169182416
1  Umang Chatterjee    13-08-1980    Male        Married    4521712306
2        Adira Dara    05-08-1995  Female        Widowed    4615155004
3        Anvi Saini    16-11-2001    Male        Married  914836846677
4       Kartik Kade    09-07-1979    Male        Widowed  910186397558

             Email Address                        Mailing Address  \
0      xbhakta@example.com            29/74, Mander, Kulti 156906
1      ivaidya@example.org    73/885\nSharma Marg\nSolapur 386449
2  loyalvihaan@example.net   H.No. 468\nRaval Zila\nNanded 490253
3        tgaba@example.org    04/25, Mandal Path, Guntakal 305639
4     sanakaur@example.net  55/13, Srivastava Path\nRaipur-801775

  Language Preference Geographical Location  Credit Score  ... Loan Amount  \
0             Marathi               Danapur           491  ...       34398
1           Malayalam             Bangalore           325  ...       96856
2           Malayalam               Bijapur           624  ...       91301
3            Gujarati                 Korba           346  ...       78981
4           Malayalam                Jorhat           321  ...       89953

   Loan Term  Interest Rate       Loan Purpose       EMI       IP Address  \
0         15           0.16  Medical Emergency   2545.36     10.65.217.95
1          9           0.20    Home Renovation  11678.35  192.168.179.132
2         10           0.16    Home Renovation   9812.94    10.166.34.134
3         14           0.28     Education Fees   6678.01   10.107.161.197
4          1           0.29   Wedding Expenses  92126.86   192.168.255.28

              Geolocation                                  Repayment History  \
0  -49.3275015, 58.067192  [{'Payment Date': datetime.date(2023, 5, 3), '...
1  14.951437, -136.491335  [{'Payment Date': datetime.date(2023, 5, 1), '...
2   64.013123, 175.275587  [{'Payment Date': datetime.date(2023, 5, 7), '...
3  -11.6130395, 37.595772  [{'Payment Date': datetime.date(2023, 5, 10), ...
4  -71.7186905, 49.352990                                                 []

  Days Left to Pay Current EMI  Delayed Payment
0                            2               No
1                            4              Yes
2                            7               No
3                            7              Yes
4                           11               No

[5 rows x 21 columns]

In [12]:
import pandas as pd

# Step 2: Transform Data
# Convert 'Date of Birth' to datetime format
borrowers_df['Date of Birth'] = pd.to_datetime(borrowers_df['Date of Birth'], format='%d-%m-%Y')

# Convert numerical columns to appropriate numerical types
numerical_cols = ['Phone Number', 'Credit Score', 'Loan Amount', 'Loan Term', 'Interest Rate', 'EMI']
borrowers_df[numerical_cols] = borrowers_df[numerical_cols].apply(pd.to_numeric, errors='coerce')

# Convert categorical columns to category type
categorical_cols = ['Gender', 'Marital Status', 'Language Preference', 'Loan Purpose', 'Delayed Payment']
borrowers_df[categorical_cols] = borrowers_df[categorical_cols].astype('category')

# Handle missing values by dropping rows with any missing values
borrowers_df = borrowers_df.dropna()

print("Data transformed successfully!")
print(borrowers_df.info())

Data transformed successfully!
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Name                          5000 non-null   object
 1   Date of Birth                 5000 non-null   datetime64[ns]
 2   Gender                        5000 non-null   category
 3   Marital Status                5000 non-null   category
 4   Phone Number                  5000 non-null   int64
 5   Email Address                 5000 non-null   object
 6   Mailing Address               5000 non-null   object
 7   Language Preference           5000 non-null   category
 8   Geographical Location         5000 non-null   object
 9   Credit Score                  5000 non-null   int64
 10  Loan Type                     5000 non-null   object
 11  Loan Amount                   5000 non-null   int64
 12  Loan Term                     5000 non-null   int64
 13  Interest Rate                 5000 non-null   float64
 14  Loan Purpose                  5000 non-null   category
 15  EMI                           5000 non-null   float64
 16  IP Address                    5000 non-null   object
 17  Geolocation                   5000 non-null   object
 18  Repayment History             5000 non-null   object
 19  Days Left to Pay Current EMI  5000 non-null   int64
 20  Delayed Payment               5000 non-null   category
dtypes: category(5), datetime64[ns](1), float64(2), int64(5), object(8)
memory usage: 689.4+ KB
None

In [7]:
# Step 1: Install MySQL Connector
!pip install mysql-connector-python

# Step 2: Import Libraries
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

# Step 3: Define Sample DataFrame
data = {
    'Name': ['John Doe', 'Jane Doe'],
    'Date_of_Birth': ['1990-01-01', '1992-02-02'],
    'Gender': ['Male', 'Female'],
    'Marital_Status': ['Single', 'Married'],
    'Phone_Number': [1234567890, 2345678901],
    'Email_Address': ['john@example.com', 'jane@example.com'],
    'Mailing_Address': ['123 Elm St', '456 Oak St'],
    'Language_Preference': ['English', 'English'],
    'Geographical_Location': ['New York', 'California'],
    'Credit_Score': [700, 750],
    'Loan_Amount': [10000, 15000],
    'Loan_Term': [12, 24],
    'Interest_Rate': [5.0, 4.5],
    'Loan_Purpose': ['Personal', 'Business'],
    'EMI': [850.0, 650.0],
    'IP_Address': ['192.168.1.1', '192.168.1.2'],
    'Geolocation': ['40.7128,-74.0060', '36.7783,-119.4179'],
    'Repayment_History': ['Good', 'Excellent'],
    'Days_Left_to_Pay_Current_EMI': [5, 10],
    'Delayed_Payment': ['No', 'No']
}

borrowers_df = pd.DataFrame(data)

# Step 4: MySQL Configuration
config = {
  'user': 'root',
  'password': 'root',
  'host': 'localhost',
  'database': 'borrowers_db',
  'raise_on_warnings': True
}

try:
    # Step 5: Connect to MySQL and Create Database
    cnx = mysql.connector.connect(user='root', password='root', host='localhost')
    cursor = cnx.cursor()
    cursor.execute("CREATE DATABASE IF NOT EXISTS borrowers_db")
    cursor.close()
    cnx.close()
    
    # Step 6: Connect to the newly created database
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()

    # Step 7: Create Table
    create_table_query = """
    CREATE TABLE IF NOT EXISTS borrowers (
        Name VARCHAR(255),
        Date_of_Birth DATE,
        Gender VARCHAR(255),
        Marital_Status VARCHAR(255),
        Phone_Number BIGINT,
        Email_Address VARCHAR(255),
        Mailing_Address TEXT,
        Language_Preference VARCHAR(255),
        Geographical_Location VARCHAR(255),
        Credit_Score INT,
        Loan_Amount INT,
        Loan_Term INT,
        Interest_Rate FLOAT,
        Loan_Purpose VARCHAR(255),
        EMI FLOAT,
        IP_Address VARCHAR(255),
        Geolocation VARCHAR(255),
        Repayment_History TEXT,
        Days_Left_to_Pay_Current_EMI INT,
        Delayed_Payment VARCHAR(255)
    );
    """
    cursor.execute(create_table_query)
    
    # Step 8: Insert Data
    for index, row in borrowers_df.iterrows():
        insert_data_query = """
        INSERT INTO borrowers (
            Name, Date_of_Birth, Gender, Marital_Status, Phone_Number, Email_Address, 
            Mailing_Address, Language_Preference, Geographical_Location, Credit_Score, 
            Loan_Amount, Loan_Term, Interest_Rate, Loan_Purpose, EMI, IP_Address, 
            Geolocation, Repayment_History, Days_Left_to_Pay_Current_EMI, Delayed_Payment
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        cursor.execute(insert_data_query, tuple(row))
    
    cnx.commit()
    
    # Step 9: Verify Data Insertion
    cursor.execute("SELECT * FROM borrowers")
    rows = cursor.fetchall()
    print("Data from borrowers table:")
    for row in rows:
        print(row)
    
    cursor.close()
    cnx.close()
    print("Data loaded and verified successfully.")
    
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
except Exception as e:
    print(f"An error occurred: {e}")

Requirement already satisfied: mysql-connector-python in c:\users\vedant suryawanshi\anaconda3\anaconda10\lib\site-packages (9.0.0)
1050: Table 'borrowers' already exists

SyntaxError: invalid syntax (<ipython-input-14-8d07925aa3c6>, line 2)